<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cloud.parts.com.parts">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--二维码权限-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".init.PartsApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon180"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".fragment.home.FourSQueryActivity" />
        <activity android:name=".fragment.query.DetailsActivity" />
        <activity android:name=".web.WebViewShow" />
        <activity android:name=".fragment.query.GroupByQueryActivity" />
        <activity android:name=".fragment.query.GroupByQueryHollesiActivity" />
        <activity android:name=".fragment.query.GroupByQueryHollesIdiActivity" />
        <activity android:name=".fragment.home.AgencyNoticeActivity" />
        <activity android:name=".fragment.query.QueryPartsListActivity" />
        <activity android:name=".fragment.home.ContentDisplayActivity" />
        <activity android:name=".fragment.query.OrdersActivity" />
        <activity android:name=".fragment.home.ModifyThePriceFourS" />
        <!--二维码-->
        <activity android:name="io.github.xudaojie.qrcodelib.CaptureActivity" />
        <activity android:name=".qrcode.SimpleCaptureActivity" />
        <activity android:name=".qrcode.ResultActivity" />

    </application>

</manifest>