<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cloud.parts.com.parts">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".PartsApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon180"
        android:label="@string/app_name"
        tools:replace = "android:icon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".fragment.home.FourSQueryActivity"/>
        <activity android:name=".fragment.query.DetailsActivity"/>
        <activity android:name=".web.WebViewShow"/>
        <activity android:name=".fragment.query.GroupByQueryActivity"/>
        <activity android:name=".fragment.query.PartsListActivity" />
    </application>

</manifest>